<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopEase"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

        <!-- Registration Activity -->
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

        <!-- Home Activity -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

        <!-- Seller Dashboard Activity -->
        <activity
            android:name=".seller.SellerDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

        <!-- Admin Dashboard Activity -->
        <activity
            android:name=".admin.AdminDashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.ShopEase" />

    </application>
</manifest>
